/* website font: font-family: 'KoHo', sans-serif; */


/*------------------------------------------HEADER----------------------------*/

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    margin: 0;
    padding: 0;
}

.menu-header {
    padding: 20px 25px 0;
}

.logo {
    margin: 0;
    padding: 0;
    background: url("images/monkees-logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    min-height: 200px;
}

.logo-2 {
    margin: 0;
    padding: 0;
    background: url("images/monkees-guitar-circle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    min-height: 200px;
}

.menu-title: {
    height: 100px;
    padding: 0;
    margin: 0;
}

.menu-title a {
    text-align: center;
    padding-top: 30px;
    text-decoration: none;
    font-family: "KoHo", sans-serif;
    font-weight: 600;
    font-size: 22px;
    width: 100%;
    height: 100px;
    color: black;
    display: block;
}

.hvr-radial-out {
    background-color: white;
}

.hvr-radial-out:before {   /*Still not sure what the 'before' commmand is doing here! Gotta find that out!!!*/
    background: rgba(255, 0, 0, 0.9);
    height: 100px;
    transition: all 0.8s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
}

.hvr-radial-out:hover {
    color: black;
}       /*Keeps the menu-title black after the hover.css activates :) this took ages to figure out! lol */

.menu-hr { 
  height: 1px;
  background-color: red;
}


/*--------------------------------------------HOME-----------------------------*/

.home-page-section {
    padding-top: 10px;
}

.about-section {
    padding-left: 28px;
    padding-right: 18px;
    padding-bottom: 10px;
}

.about-header {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
}

.about-text {
    padding-top: 15px;
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.home-page-image img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: inline-block;
}

.about-section .btn {
    height: 23px;
    line-height: 0.9;
    font-size: 13px;
    color: white;
    background-color: #d55443;
    border: white;
    margin-top: 10px;
    margin-left: 0px;
}

.about-section .btn:hover {
    color: white;
    background-color: black;
    border: black;
}

/*------------------------------------TIMELINE - PAGE TEXT---------------------*/

.timeline-page {
    padding: 30px;
    padding-top: 10px;
}

.timeline-page-heading {
    padding: 0;
    font-family: 'KoHo', sans-serif;
    letter-spacing: 1px;
}

.timeline-title {
    font-family: "KoHo", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
}

.timeline-sub-title {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    
}

/*-----------------------------ACTUAL TIMELINE CODE (FROM W3schools) ----------*/

* {
  box-sizing: border-box;
}

.timeline-section {
  background-color: white;
  font-family: 'KoHo', sans-serif;
}

.timeline-year {
    text-align: left;
    font-weight: 400;
    font-size: 36px;
    color: black;
    letter-spacing: 1px;
    margin-top: 3px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 6px solid #d55443;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #faff003d;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #faff003d transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 10px 30px;
  background-color: #faff003d;
  position: relative;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
}

.timeline-container .row {
    margin: 0;
}

.timeline-container .content img {
    margin-top: 5px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timeline-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

/*-------------------------------------DISCOGRAPHY-----------------------------*/

.album-container {
    padding-top: 45px;
}

.album-row {
    padding-top: 20px;
    margin-bottom: 20px;
}

.album-details {
    text-align: left;
}

.album img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.album-title {
    margin-top: 0;
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.album-year {
     font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #6f5c5c;
}

.album-details .btn {
    margin-top: 0;
}

.album-details .btn:hover {
    color: white;
    background-color: black;
    border: white;
}

/*------------------------------------------GALLERY----------------------------*/

.gallery-page {
    padding: 45px;
    padding-top: 0px;
}

.gallery-heading {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: black;
    letter-spacing: 1px;
    padding-top: 35px;
    margin-left: 35px;
    margin-bottom: 0;
}

.gallery-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

/*------------------------------------------VIDEOS-----------------------------*/

.video-page {
    padding-bottom: 40px;
}

.video-page-title {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
}

.video-page-sub-title {
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.youtube-link {
    color: #e63636;
    font-weight: 400;
}

.video-row {
    padding: 15px;
}


/*--------------------------------------BIOGRAPHIES----------------------------*/

.bio-page {
    padding: 20px;
}

.bio-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.bio-image {
    padding: 0;
    padding-top: 10px;
}

.bio-container .bio-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio-title {
    font-family: "KoHo", sans-serif;
    font-weight: 600;
    font-size: 38px;
    color: black;
    text-align: center;
}

.bio-sub-title {
     font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #6f5c5c;
    text-align: center;
    letter-spacing: 1px;
}

.bio-text {
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.bio-section .btn {
    color: white;
    background-color: #d55443;
    border: white;
}

.bio-section .btn:hover {
    color: white;
    background-color: black;
    border: white;
}

/*--------------------------------------------NEWS-----------------------------*/

.news-page {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.news-page-title {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.news-page-sub-title {
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

.logo-3 {
    margin: 0;
    padding: 0;
    background: url("../images/monkees-guitar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    min-height: 200px;
}

.news-block {
    padding: 20px;
}

.news-title {
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-align: left;
    margin-top: 0;
}

.news-block .news-section {
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 4px;
}

.news-text {
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-align: justify;
}

.news-text a {
    color: red;
    font-weight: 400;
}

.signup-block {
    border: double black 16px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 35px;
}

.signup-title {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: black;
}

.signup-text {
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: black;
}

.signup-block .btn:hover {
    color: white;
    background-color: black;
    border: white;
}

/*--------------------------------------NEWS MODAL-----------------------------*/



    .modal .modal-title {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: black; 
    text-align: center;
} 

    .modal .modal-sub-title {
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black; 
    text-align: center;
} 

/*-------------------------------------------EVENTS----------------------------*/

.events-page {
    padding: 30px;
    padding-top: 0;
}

.events-page-title {
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 55px;
    margin-bottom: 0;
}

.events-page-text {
    font-family: 'KoHo', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-left: 55px;
    margin-bottom: 0;
    line-height: 1;
}

.panel {
    margin-bottom: 10px;
}
.panel-body {
    padding-top: 2px;
    padding-bottom: 2px;
}

.event-date {
    font-family: 'KoHo', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    line-height: 2;
}

.event-venue {
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    line-height: 2.1;
}

.event-button .btn {
    float: none;
    height: 26;
    line-height: 1.3;
    font-size: 13px;
    color: white;
    background-color: #d55443;
    border: white;
    margin-top: 8px;
    margin-bottom: 0px;
    padding-left: 0;
}

.event-button .btn:hover {
    color: white;
    background-color: black;
    border: black;
}

.event-button-2 .btn {
    float: none;
    height: 26;
    line-height: 1.3;
    font-size: 13px;
    color: white;
    background-color: #d554435e; /* Extra 5e gives the transparant look! */
    border: white;
    margin-top: 8px;
    margin-bottom: 0px;
}

/*-------------------------------------CONTACT FORM----------------------------*/

.contact-blurb {
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 60%;
}

.contact-form .btn {
    height: 40px;
    width: 180px;
    background-color: black;
    border-color: black;
}

.contact-form .btn:hover {
    background-color: red;
    border-color: red;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}




/*------------------------------------------FOOTER----------------------------*/

.container-fluid {
    padding: 0;
}

.footer-banner {
    height: 100px;
    width: 100%;
    background-color: #e63636;
    margin: 0;
    padding: 0;
    
}

.book-us-text {
    padding-top: 20px;
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;

}

.book-us-text a {
    color: white;
    text-decoration: none;
}

.book-us-text a i {
    padding-left: 5px;
}

.book-us-text a:hover {
    color: black;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.social-link-text {
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.social-links {
    text-align: center;
}

footer .social-links li a i {
    width: 44px;
    height: 44px;
    padding-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20%;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
    color: white;
    background: black;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}  

footer .social-links li a i:hover {
    background: white;
    color: red;
}

/*--------------------------------------ERROR PAGE----------------------------*/

.box {
    height: 400px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    border: double black 10px;
    text-align: center;
}

.error-title {
    font-family: "KoHo", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: red;
}

.error-text {
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}

/*------------------------------------MEDIA QUERIES---------------------------*/

@media (max-width: 994px) {
    .footer-banner {
    height: 200px;
    width: 100%;
    background-color: #e63636;
    margin: 0;
    padding: 0;
    }
    
    .center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 60%;
    }

.book-us-text {
    padding-top: 20px;
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0px;
    }
}

@media (max-width: 818px) {
    .event-date {
        font-size: 20px;
    }
    .event-venue {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 2.3;
    }
}    


@media (max-width: 592px) {
    .footer-banner {
    height: 250px;
    width: 100%;
    background-color: #e63636;
    margin: 0;
    padding: 0;
    }
}

@media (max-width: 450px) {
    .album-row img {
    height: 120px;
    width: 120px;
    }
    
    .bio-image img {
    height: 140px;
    width: 140px;
    }
    
    .gallery-section img {
    height: 120px;
    width: 120px;
    }
    
    .event-button .btn {
    float: none;
    height: 20;
    line-height: 1.3;
    font-size: 10px;
    color: white;
    background-color: #d55443;
    border: white;
    margin-top: 8px;
    padding-left: 5px;
    margin-bottom: 0px;
}

    .event-button-2 .btn {
    float: none;
    height: 20;
    line-height: 1.3;
    font-size: 9px;
    color: white;
    background-color: #d554435e; /* Extra 5e gives the transparant look! */
    border: white;
    margin-top: 8px;
    margin-bottom: 0px;
}

    .event-date {
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    line-height: 1.2;
}

    .event-venue {
    font-family: 'KoHo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    line-height: 1.2;
}
    
}

@media (max-width: 388px) {
    .footer-banner {
    height: 280px;
    width: 100%;
    background-color: #e63636;
    margin: 0;
    padding: 0;
    }
}
